<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% include 'base/header.html' %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a mi página de Web II</h1>
        <p>Esta es la página principal de tu sitio. Explora el contenido y descubre más.</p>
    </div>
</body>
</html>
