{% extends "base/ebase.html" %}
{% load static %}
{% block content %}
    <div class="boletos-container">
        <a href="http://127.0.0.1:8000/examen/boletosCreate/" class="crear-btn">Crear evento</a>
        <h1 class="titulo-boletos">Boletos Disponibles</h1>
        <div class="boletos-grid">
            {% for boleto in boletos %}
            {% include 'components/BoletoCard.html' with tipo=boleto.tipo_boleto precio=boleto.precio %}
            {% endfor %}
        </div>
        
    </div>
{% endblock %}
