{% extends "base/ebase.html" %}
{% load static %}

{% block content %}
    <h1 class="eventos-titulo">Lista de Eventos</h1>
    <a href="http://127.0.0.1:8000/examen/eventosCreate/" class="crear-btn">Crear evento</a>
    <div class="evento-container">
    {% for evento in eventos %}
        {% include 'components/EventoCard.html' with name=evento.name localidad=evento.localidad.name  %}
    {% endfor %}
    {% for evento in eventos %}
        {% include 'components/EventoCard.html' with name=evento.name localidad=evento.localidad.name  %}
    {% endfor %}
    {% for evento in eventos %}
        {% include 'components/EventoCard.html' with name=evento.name localidad=evento.localidad.name  %}
    {% endfor %}
    </div>
{% endblock %}
