{% load static %}
<div class="evento-card">
    <img src="{% static 'img/Carnaval 6.jpg'%}" alt="Imagen Evento">
    <div class="evento-info">
        <h2>{{ name }}</h2>
        <p><strong>Localidad:</strong> {{ localidad }}</p>
        <p>El carnaval de Barranquilla es una de las festividades más importantes de Colombia y uno de los carnavales más grandes del mundo. Se celebra en la ciudad de Barranquilla, capital del departamento del Atlántico y es una festividad que combina elementos de las culturas africana, indígena y europea.</p>
        <a href="http://127.0.0.1:8000/examen/boletos/" class="comprar-btn">Comprar</a>

    </div>
</div>
